<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Vue.js Version</title>
</head>
<body>
<h1>Vue.js Version</h1>
<div id="app">
    <label>
        <input type="text" v-model="itemName">
    </label>
    <button v-on:click="addItem(itemName)">追加</button>
    <ul>
        <li v-for="item in items">{{ item.name }}</li>
    </ul>
</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: function () {
            return {
                items: [
                    {name: "item-AAA"},
                    {name: "item-BBB"}
                ]
            }
        },
        methods: {
            addItem: function (name) {
                this.items.push({name: name})
            }
        }
    });
</script>
</body>
</html>